<mat-toolbar *ngIf="ccData">
    <button mat-icon-button routerLink="/sheets"><mat-icon>arrow_left</mat-icon></button>
    <h1>CharVault</h1>
    <span class="spacer26"></span>
    <span>{{game}}</span>
    <span>&nbsp;-&nbsp;</span>
    <span>{{type}}</span>
    <span class="spacer"></span>
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<mat-toolbar>
    <a mat-button [disabled]="currentStep===b.id" (click)="goTo(b.id)" *ngFor="let b of steps">{{b.title}}</a>
    <span class="spacer"></span>
    <a mat-icon-button><mat-icon>settings</mat-icon></a>
</mat-toolbar>
<div class="content">
<character-creation-step [step]="currentStep"></character-creation-step>
<div id="scrollable">
</div>
<button [disabled]="currentIndex===0" (click)="goPrev()" mat-raised-button type="button"><mat-icon>backward</mat-icon> Back</button>
<button [disabled]="currentIndex===ccData.sequence.length-1" (click)="goNext()" mat-raised-button type="button">Next <mat-icon>forward</mat-icon></button>
<button (click)="done()" mat-raised-button type="button"><mat-icon>check</mat-icon> Done</button>

</div>