<h1>{{ stepData.name }}</h1>
<ng-container *ngIf="stepData.mode === 'choice'">
  <div
    (click)="select(itm)"
    [ngClass]="{ selected: selecteds.indexOf(itm) >= 0 }"
    *ngFor="let itm of items"
  >
    <div [innerHtml]="itm.template"></div>
  </div>
</ng-container>

<ng-container *ngIf="stepData.mode === 'form'"> 
    <div *ngFor="let field of stepData.fields">
    <mat-form-field  appearence="outline">
        <mat-label>{{field.label}}</mat-label>
        <input [name]="field.name" [(ngModel)]="data[field.name]" matInput >
    </mat-form-field>
</div>
<div>
    {{data|json}}
</div>
</ng-container>
