<div *ngIf="!templateMode">
    <div *ngFor="let row of items" class="item" [ngClass]="getFields(classfields.split(','), row)" >
        <div *ngIf="namefield !== ''" class="name">{{getField(namefield, row)}}</div>
        <div *ngIf="descriptionfield !== ''" class="description">{{getField(descriptionfield, row)}}</div>
    </div>
</div>


<div *ngIf="templateMode">
    <div *ngFor="let row of items" class="item" [ngClass]="getFields(classfields.split(','), row)" >
        <div *ngIf="namefield !== ''" class="name">{{getField(namefield, row)}}</div>
        <div *ngIf="descriptionfield !== ''" class="description">{{getField(descriptionfield, row)}}</div>
    </div>
</div>
