<mat-toolbar>
    <button mat-icon-button><mat-icon></mat-icon></button>
    <h1>CharVault</h1>
    <span class="spacer26"></span>
    <button mat-button routerLink="/sheets">Sheets</button>
    <button mat-button routerLink="/parties">Parties</button>
    <span class="spacer"></span>
    <img ngxGravatar [email]="'sirmmo@gmail.com'" />

</mat-toolbar>

<div class="flex-vertical centered black fill">
    <div class="flex-horizontal">
        <img src="/assets/general/shield.webp">
    </div>

    <div class="flex-vertical text-clear" id="agent-data">
        <div class="flex-horizontal">
            <span class="title">Agent code:</span><span class="value">f52147c3-9f51-4b94-b29e-6878966916d2</span>
        </div>
        <div class="flex-horizontal">
            <span class="title">Agent name:</span><span class="value">Marco Montanari</span>
        </div>
        <div class="flex-horizontal">
            <span class="title">Agent nicks:</span><span class="value">M, Monta</span>
        </div>
    </div>
</div>