

<div class="flex-horizontal centered black fill">
  <div class="flex-vertical">
    <div class="flex-horizontal">
      <img class="badge" src="/assets/general/shield.webp" />
    </div>

    <div class="flex-vertical text-clear" id="agent-data">
      <div class="flex-vertical">
        <span class="title">Agent code:</span
        ><span class="value alien">{{user.aotm}}</span>
      </div>
      <div class="flex-vertical">
        <span class="title">Agent name:</span
        ><span class="value">{{user.name}}</span>
      </div>
      <div class="flex-vertical">
        <span class="title">Agent rank:</span
        ><span class="value">{{user.rank}}</span>
      </div>
      <div class="flex-vertical">
        <span class="title">Agent nicks:</span
        ><span class="value">{{user.nicknames.join(", ")}}</span>
      </div>
    </div>
  </div>

  <div class="flex-vertical text-clear" id="achievements">
    <h1>Honors</h1>
    <div class="achievement flex-horizontal" *ngFor="let a of user.achievements">
        <img [src]="a.icon" height="48" width="48">
        <div class="flex-vertical spcleft">
            <span class="title">{{a.name}}</span>
            <span class="acquired">{{a.acquired}}</span>
        </div>
    </div>
</div>


<div class="flex-vertical text-clear" id="friends">
    <h1>Known Agents</h1>
    <div class="friend flex-horizontal" *ngFor="let a of user.friends">
        <img ngxGravatar [email]="a.username" width="48" height="48">
        <div class="flex-vertical spcleft">
            <span class="title">{{a.name}}</span>
            <span class="rank">{{a.rank}}</span>
        </div>
    </div>
</div>


