<mat-toolbar>    
    <button mat-icon-button (click)="showJoinLink(partyId)"><mat-icon>qr_code_2</mat-icon></button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
        <h1>Chat</h1>
        <mat-list>
            <mat-list-item *ngFor="let message of messages">
                <span matListItemTitle>{{getCharacter(message.character).name}}</span>
                <ng-container *ngIf="message.op==='roll'">
                    <span matListItemLine>{{message.field|transform}}</span>
                    <div matListItemLine>
                    <i class="ra ra-fw  ra-perspective-dice-random"></i>
                    {{getResult(message)}}</div>
                </ng-container>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

<ag-grid-angular id="chars"
class="ag-theme-quartz"
(gridReady)="onGridReady($event)"
[columnTypes]="colTypes"
[rowData]="chars"
[columnDefs]="colDefs" />
</mat-drawer-container>
