<mat-toolbar *ngIf="charData">
    <button mat-icon-button routerLink="/sheets"><mat-icon>arrow_left</mat-icon></button>
    <h1>AOTM</h1>
    <span class="spacer26"></span>
    <span>{{charData.name}}</span>
    <span> - </span>
    <span>{{charData.game}}</span>
    <span class="spacer"></span>
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<div *ngIf="rolling" id="dicebox" (click)="close()"></div>
<div id="scrollable">
<div class="{{charId}}" id="rollcontainer" [innerHtml]="content"></div>
</div>
