<mat-toolbar>
    
    <button mat-icon-button routerLink="/"><mat-icon>arrow_left</mat-icon></button>
    <h1>CharVault</h1>
    <span class="spacer26"></span>
    <h2>Sheets</h2>
    <span class="spacer"></span>
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<mat-list>
    <mat-list-item *ngFor="let char of chars" [routerLink]="['/sheets', char.id]">
        <div class="row">
            <img class="left" src="/assets/templates/{{char.game}}/icon.webp" (error)="altImg($event, '/assets/templates/'+char.game+'/icon.png')" height="62">
            <div class="column">
                <span matListItemTitle>{{char.name}}</span>
                <span matListItemLine>{{char.game_label}}</span>
            </div>
        </div>
    </mat-list-item>
</mat-list>