<body id="i4ay">
    <div class="gjs-row" id="iti7">
      <div class="gjs-cell" id="ivpo">
        <div class="gjs-row" id="ihoa">
            <div class="gjs-cell" id="id4i">
              <img id="i6a7m" src="/assets/templates/armakitten/FUSA_logo.png"/>
            </div>
          <div class="gjs-cell">
            <div id="ily1k">
                <span style="font-weight: bolder;">Felini Uniti per la Supremazia e l'Armakitten</span>
              <br/>Sezione Risorse Feline
              <br/>PROFILO AGENTE
              <br/>
              <br/>
            </div>
          </div>
          <div class="gjs-cell" id="ieh9m">
          </div>
        </div>
      </div>
    </div>
    <div class="gjs-row section" id="i6qjh">
      <div class="gjs-cell">
          <h1>Dati</h1>
          <div class="gjs-row" id="i0lmn">
          <div>Nome Agente:&nbsp;</div><charsheet-field field="name"></charsheet-field>
      </div>
      <div class="gjs-row" id="i0lmn">
      <div>età:&nbsp;</div><charsheet-field field="age"></charsheet-field>
  </div>
  <div class="gjs-row" id="i0lmn">
  <div>colore:&nbsp;</div><charsheet-field field="color"></charsheet-field>
</div>
</div>
</div>
    <div class="gjs-row section" id="iuafn">
      <div class="gjs-cell">
        <h1>CATS</h1>
        <div class="gjs-row" id="i0lmn">
          <div class="gjs-cell">
            <charsheet-rollable-field field="name" roll="3d6"></charsheet-rollable-field>
          </div>
        </div>
          <div class="gjs-cell" id="ibbzx">
            <h1>Segno</h1>
          </div>
      </div>
      <div class="gjs-cell">
      </div>
    </div>
    <div id="segno" title="Segno" class="gjs-row section">
      <div class="gjs-cell" id="ienhb">
        <div class="picture">

        </div>
      </div>
    </div>
  </body>
  <script></script>