<body>
    <header>Scheda del personaggio</header>
    <div class="section">
        Nome: <charsheet-field field="name"></charsheet-field>
        Soprannome: <charsheet-field field="nickname"></charsheet-field>
        Giuramento di branco: <charsheet-field field="swear.hoarde.motto"></charsheet-field>
        Giuramento di branco: <charsheet-field field="swear.personal.motto"></charsheet-field>
    </div>
    <div class="section">
        <h2>Caratteristiche</h2>
        <charsheet-field field=""></charsheet-field>
    </div>
</body>
<script>
    
</script>