
<div class="cabinet grid">
    <div class="drawer {{char.game}}" *ngFor="let char of chars" [routerLink]="['/parties', char.id]">
        <div class="drawer-structure {{char.game}}">
            <img class="icon" src="/assets/templates/{{char.game}}/icon.webp" (error)="altImg($event, '/assets/templates/'+char.game+'/icon.png')" height="62">
            <div class="drawer-label">
                <div class="column">
                    <span matListItemTitle>{{char.name}}</span>
                </div>
            </div>
        </div>
        <div class="drawer-overlay {{char.game}}"></div>
    </div>
</div>