#dice-box{
    width:100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

.lcompact{
    padding-left:0px;
    min-width: 32px;
    justify-content: flex-start;
}