<div class="container">
    <div class="logo">
    <img src="/assets/templates/vtm5/icon_wide.png">
</div>
    <section class="sheet-header">
        <div class="flexrow">
            <div class="sheet-portrait">
                <charsheet-image class="photo" field="clan" pattern="/assets/templates/vtm5/assets/clanIcons/{{field}}.webp" title="Character"></charsheet-image>
            </div>
            <div class="flexrow">

                <div class="infos">
                    <div class="row flexrow">
                        <label>Name :</label>
                        <charsheet-field field="name"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Description :</label>
                        <charsheet-field field="description"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Generation :</label>
                        <charsheet-field field="generation"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Sire :</label>
                        <charsheet-field field="sire"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Clan :</label>
                        <charsheet-field field="clan"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Ambition :</label>
                        <charsheet-field field="ambition"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Desire :</label>
                        <charsheet-field field="desire"></charsheet-field>
                    </div>
                </div>
</div>
<div class="flexrow">
                <div class="characteristics">
                    <div class="physical">
                     <h2>Physical</h2>
                     <div>
                         <div>Strenght <charsheet-boxed field="attributes.strength" minvalue="0" maxvalue="5" interactive="false"></charsheet-boxed></div>
                         <div>Dexterity <charsheet-boxed field="attributes.dexterity" minvalue="0" maxvalue="5" interactive="false"></charsheet-boxed></div>
                         <div>Stamina <charsheet-boxed field="attributes.stamina" minvalue="0" maxvalue="5" interactive="false"></charsheet-boxed></div>
                     </div>
                    </div>
                    <div class="social">
                     <h2>Social</h2>
                     <div>
                         <div>Charisma <charsheet-boxed field="attributes.charisma" minvalue="0" maxvalue="5" interactive="false"></charsheet-boxed></div>
                         <div>Manipulation <charsheet-boxed field="attributes.manipulation" minvalue="0" maxvalue="5" interactive="false"></charsheet-boxed></div>
                         <div>Composure <charsheet-boxed field="attributes.composure" minvalue="0" maxvalue="5" interactive="false"></charsheet-boxed></div>
                     </div>
                    </div>
                    <div class="mental">
                     <h2>Mental</h2>
                     <div>
                         <div>Intelligence <charsheet-boxed field="attributes.intelligence" minvalue="0" maxvalue="5" interactive="false"></charsheet-boxed></div>
                         <div>Wits <charsheet-boxed field="attributes.wits" minvalue="0" maxvalue="5" interactive="false"></charsheet-boxed></div>
                         <div>Resolve <charsheet-boxed field="attributes.resolve" minvalue="0" maxvalue="5" interactive="false"></charsheet-boxed></div>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="sheet-body">
        <div class="two-panes-content">
            <div class="left-panel">
                <div class="statblock health">
                    <h2>Health</h2>
                    <charsheet-boxed field="maxHealth" minvalue="0" maxvalue="15"></charsheet-boxed>
                </div>
                <div class="statblock willpower">
                    <h2>Willpower</h2>
                    <charsheet-boxed field="willpower" minvalue="0" maxvalue="15"></charsheet-boxed>
                </div>
                <div class="statblock humanity">
                    <h2>Humanity</h2>
                    <charsheet-boxed field="humanity" minvalue="0" maxvalue="10"></charsheet-boxed>
                </div>
                <div class="statblock hunger">
                    <h2>Hunger</h2>
                    <charsheet-boxed field="hunger" value="0" minvalue="0" maxvalue="5"></charsheet-boxed>
                </div>
                <div class="statblock blood_potency">
                    <h2>Blood Potency</h2>
                    <charsheet-boxed field="bloodPotency" minvalue="0" maxvalue="10"></charsheet-boxed>
                </div>
            </div>
            <div class="right-panel">
                <div class="tab skills" data-group="primary" data-tab="skills">
                    <h1>Attributes</h1>
                    <ol class="item-list">
                        <template id="skilltemplate">
                            <li class="item itemV2">
                                <div class="item-image" style=""></div>
                                <div class="item-name skill-name rollable">{{key}}</div>
                                <charsheet-boxed class="item-score" field="skills.{{key}}" maxvalue="5" minvalue="0" interactive="false" mode="fill"></charsheet-boxed>
                            </li>
                        </template>
                        <charsheet-table field="skills" mode="kvp" template="#skilltemplate" templatefields="" ></charsheet-table>
                    </ol>
                </div>

                <div class="tab disciplines" data-group="primary" data-tab="disciplines">
                    <h1>Disciplines</h1>
                    <template id="disctemplate">
                        <div class="flexrow">
                            <div style="max-width:30px; height: 25px;" title="{{discipline}}">
                                <img src="/assets/templates/vtm5/assets/Rombo_Disciplines/rombo_{{discipline}}.svg" />
                            </div>
                            <div>
                                <h2>{{name}}<charsheet-boxed interactive="false" value="{{level}}" minvalue="0" maxvalue="5"></charsheet-boxed></h2>
                                <div>{{summary}}</div>
                                <div>{{dicePool}}</div>
                            </div>
                        </div>
                    </template>
                    <charsheet-table template="#disctemplate" field="disciplines" templatefields="name|summary|level|discipline|dicePool"></charsheet-table>
                </div>

                <div class="tab character-background">
                    <div>
                    <h1>Merits</h1>
                    <template id="merittemplate">
                        <div class="merit">
                            <h2>{{name}} ({{level}})</h2>
                            <div>{{summary}}</div>
                        </div>
                    </template>
                    <charsheet-table template="#merittemplate" field="merits" templatefields="name|summary|level|type"></charsheet-table>
                    </div>
                    <div>
                        <h1>Flaws</h1>
                    <template id="flawtemplate">
                        <div class="flaw">
                            <h2>{{name}} ({{level}})</h2>
                            <div>{{summary}}</div>
                        </div>
                    </template>
                    <charsheet-table template="#flawtemplate" field="flaws" templatefields="name|summary|level|type"></charsheet-table>
                    </div>
                    <div>
                        <h1>Touchstones</h1>
                    <template id="tstemplate">
                        <div class="ts">
                            <h2>{{name}}</h2>
                            <div>{{description}}</div>
                            <div>{{conviction}}</div>
                        </div>
                    </template>
                    <charsheet-table template="#tstemplate" field="touchstones" templatefields="name|description|conviction"></charsheet-table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>