<div class="container">
    <section class="sheet-header">
        <div class="flexrow">
            <div class="sheet-portrait">
                <img class="photo" src="icons/svg/mystery-man.svg" title="1920 Character" data-edit="img" />
            </div>
            <div class="flexrow">

                <div class="infos">
                    <div class="row flexrow">
                        <label>Name :</label>
                        <charsheet-field field="name"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Description :</label>
                        <charsheet-field field="description"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Generation :</label>
                        <charsheet-field field="generation"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Sire :</label>
                        <charsheet-field field="sire"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Clan :</label>
                        <charsheet-field field="clan"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Ambition :</label>
                        <charsheet-field field="ambition"></charsheet-field>
                    </div>
                    <div class="row flexrow">
                        <label>Desire :</label>
                        <charsheet-field field="desire"></charsheet-field>
                    </div>
                </div>

                <div class="characteristics">
                   
                </div>
            </div>
        </div>
    </section>

    <section class="sheet-body">
        <div class="two-panes-content">
            <div class="right-panel">
                <div class="tab skills" data-group="primary" data-tab="skills">
                    <h1>Skills</h1>
                    <ol class="item-list">
                        <template id="skilltemplate">
                            <li class="item itemV2">
                                <div class="item-image" style=""></div>
                                <div class="item-name skill-name rollable">{{key}}</div>
                                <charsheet-boxed class="item-score" field="skills.{{key}}" max="5" min="0" mode="fill"></charsheet-boxed>
                            </li>
                        </template>
                        <charsheet-table field="skills" mode="kvp" template="#skilltemplate" templatefields="" ></charsheet-table>
                    </ol>
                </div>

                <div class="tab possession" data-group="primary" data-tab="possession">
                    <h1>Possessions</h1>
                    <div class="flexcol" >
                        <div class="flexcol flex3 inventory">
                            <h3 class="warning">Inventory is currently empty.</h3>
                            <ol class="inventory-list">
                                <li></li>
                            </ol>
                        </div>
                        <div class="flexcol flex2 cash" style="border: 1px groove">
                            <div class="flexrow cash-row">
                                <label>Spending level :</label>
                                <span>$0,50</span>
                            </div>
                            <div class="flexrow cash-row">
                                <label>Cash :</label>
                                <span>$0,50</span>
                            </div>
                            <div class="flexrow cash-row">
                                <label>Spent :</label><input type="text" name="system.monetary.spent" value="" />
                            </div>
                            <div class="flexrow cash-row">
                                <label>Assets :</label>
                                <span style="line-height: 22px">$0,00</span>
                            </div>
                            <div style="flex: none">
                                <textarea name="system.monetary.assetsDetails" placeholder="Assets details"
                                    rows="4"></textarea>
                            </div>
                            <label style="flex: initial">Notes :</label>
                            <div class="flex1">
                                <textarea name="system.notes" placeholder="Notes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab character-background"
                    data-group="primary" data-tab="background">
                    <h1>Background</h1>
                    <div class="flexcol">
                        <div class="flexcol bio-section" data-index="0" style="flex: 0 0 50%">
                            <div class="flexrow" style="flex: initial">
                                <label style="
                    height: 1rem;
                    margin: 0;
                    border: 0;
                    font-family: customSheetFont, 'Palatino Linotype', serif;
                    font-size: 0.75rem;
                  ">Personal Description</label>
                            </div>
                            <textarea class="bio-section-value" rows="4"></textarea>
                        </div>
                        <div class="flexcol bio-section" data-index="1" style="flex: 0 0 50%">
                            <div class="flexrow" style="flex: initial">
                                <label style="
                    height: 1rem;
                    margin: 0;
                    border: 0;
                    font-family: customSheetFont, 'Palatino Linotype', serif;
                    font-size: 0.75rem;
                  ">Ideology/Beliefs</label>
                            </div>
                            <textarea class="bio-section-value" rows="4"></textarea>
                        </div>
                        <div class="flexcol bio-section" data-index="2" style="flex: 0 0 50%">
                            <div class="flexrow" style="flex: initial">
                                <label style="
                    height: 1rem;
                    margin: 0;
                    border: 0;
                    font-family: customSheetFont, 'Palatino Linotype', serif;
                    font-size: 0.75rem;
                  ">Significant People</label>
                            </div>
                            <textarea class="bio-section-value" rows="4"></textarea>
                        </div>
                        <div class="flexcol bio-section" data-index="3" style="flex: 0 0 50%">
                            <div class="flexrow" style="flex: initial">
                                <label style="
                    height: 1rem;
                    margin: 0;
                    border: 0;
                    font-family: customSheetFont, 'Palatino Linotype', serif;
                    font-size: 0.75rem;
                  ">Meaningful Locations</label>
                            </div>
                            <textarea class="bio-section-value" rows="4"></textarea>
                        </div>
                        <div class="flexcol bio-section" data-index="4" style="flex: 0 0 50%">
                            <div class="flexrow" style="flex: initial">
                                <label style="
                    height: 1rem;
                    margin: 0;
                    border: 0;
                    font-family: customSheetFont, 'Palatino Linotype', serif;
                    font-size: 0.75rem;
                  ">Treasured Possessions</label>
                            </div>
                            <textarea class="bio-section-value" rows="4"></textarea>
                        </div>
                        <div class="flexcol bio-section" data-index="5" style="flex: 0 0 50%">
                            <div class="flexrow" style="flex: initial">
                                <label style="
                    height: 1rem;
                    margin: 0;
                    border: 0;
                    font-family: customSheetFont, 'Palatino Linotype', serif;
                    font-size: 0.75rem;
                  ">Traits</label>
                            </div>
                            <textarea class="bio-section-value" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>