<div class="go_scheda">
    <!-- <img class="edit-image" src="../img/icone/photo.png" /> -->
    <div class="go_scheda_container">
        <div class="go_scheda_pgcontainer">
            <div class="go_scheda_nome" data-precompilato=""><span class="desc">Ingegner</span></div>
            <div class="go_scheda_soprannome" data-precompilato="''"><span class="desc">"Ingegnè"</span>
            </div>
            <div class="go_scheda_cognome" data-precompilato=""><span class="desc">Righini</span></div>
        </div>
        <div class="go_scheda_descrittori">
            <div class="go_scheda_box go_scheda_ex" data-precompilato="Ex"><span class="title">Ex</span><span class="desc">Navi Seals</span></div>
            <div class="go_scheda_box go_scheda_pensione" data-precompilato="In Pensione"><span class="title">In Pensione</span><span class="desc">Prete</span></div>
            <div class="go_scheda_box go_scheda_hobby" data-precompilato="Hobby"><span class="title">Hobby</span><span class="desc">Marijuana ricreativa</span></div>
            <div class="go_scheda_box go_scheda_circolo" data-precompilato="Circolo"><span class="title">Circolo</span><span class="desc">Bocce</span></div>
        </div>
        <div class="go_scheda_fastidio_maincontainer">
            <div class="go_scheda_fastidio_container">
                <charsheet-boxed title="Fastidio" maxvalue="4"></charsheet-boxed>
                
            </div>
            <div class="go_scheda_scenata_container">
                <charsheet-boxed title="Scenata" maxvalue="1"></charsheet-boxed>
            </div>
        </div>
        <div class="go_scheda_spocchia_maincontainer">
            <div class="go_scheda_spocchia_container">
                <charsheet-boxed title="Spocchia" maxvalue="4"></charsheet-boxed>
               
            </div>
            <div class="go_scheda_pettegolezzo_container">
                <charsheet-boxed title="Pettegolezzo" maxvalue="1"></charsheet-boxed>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="go_scheda_epilogo_container">
            <div class="go_scheda_pennichella_container">
                <charsheet-boxed title="Scenate &amp; Pennichella" maxvalue="4"></charsheet-boxed>
            </div>
            <div class="go_scheda_necrologio_container">
                <div class="go_scheda_check smaller go_scheda_necrologio"></div>
                <charsheet-boxed title="Necrologio" maxvalue="1"></charsheet-boxed>
            </div>
            <div class="go_scheda_sagge_container">
                <div class="go_scheda_check smaller go_scheda_sagge"></div>
                <charsheet-boxed title="Parole Sagge" maxvalue="1"></charsheet-boxed>
            </div>
        </div>
    </div>
</div>