/* You can add global styles to this file, and also import other style files */

/* Core Data Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer{
    flex: 1 1 1px;
}

.spacer26{
    width: 26px;
    height: 26px;
}

.dice-box-canvas{
    z-index: 100000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}


.logo{
    height: 68px;
    width: 68px;
}
