* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  #i4ay{
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:linear-gradient(#1c1010 0%, #1c1010 100%);
  }
  .gjs-row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .gjs-cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  #iqx7{
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:none;
  }
  #igut{
    color:black;
  }
  .tab{
    padding:7px 14px;
    display:inline-block;
    border-radius:3px;
    margin-right:10px;
  }
  .tab:focus{
    outline:none;
  }
  .tab.tab-active{
    background-color:#0d94e6;
    color:white;
  }
  .tab-container{
    display:inline-block;
  }
  .tab-content{
    animation:fadeEffect 1s;
  }
  .tab-contents{
    min-height:100px;
    padding:10px;
  }
  #iitd{
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:linear-gradient(#817d26 0%, #817d26 100%);
    border-radius:47px 49px 3px 3px;
    border:3px solid #b8b10c;
  }
  #isp1{
    font-family:Helvetica, sans-serif;
    font-size:12px;
  }
  #ir1g9{
    padding:10px;
  }
  @keyframes fadeEffect{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
  @media (max-width: 768px){
    .gjs-row{
      flex-wrap:wrap;
    }
  }
  