<body id="i4ay">
    <div class="gjs-row" id="i2ru">
      <div class="gjs-cell" id="iqx7">
        <img id="igut" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+"/>
      </div>
    </div>
    <div id="islh">
      <div role="tablist" class="tab-container">
        <div role="tab" aria-controls="iz4zg" id="iitd" class="tab">
          <span id="isp1">Attributes</span>
        </div>
        <div role="tab" aria-controls="iucqd" id="iwq2j" class="tab">
          <span id="i96fx">Tab</span>
        </div>
        <div role="tab" aria-controls="i9lx1" id="i33nr" class="tab">
          <span>Tab</span>
        </div>
      </div>
      <div class="tab-contents" id="ip60r">
        <div role="tabpanel" id="iz4zg" aria-labelledby="iitd" hidden class="tab-content">
          <div id="i6jik">
            <charsheet-field field="name"></charsheet-field>
            <charsheet-field field="archetype"></charsheet-field>
            <charsheet-table field="talents">
              <div>
              <charsheet-field context="talents.$" field="name"></charsheet-field>
              <charsheet-field context="talents.$" field="level"></charsheet-field>
            </div>
            </charsheet-table>
          </div>
        </div>
        <div role="tabpanel" id="iucqd" aria-labelledby="iwq2j" hidden class="tab-content">
          <div id="itauv">Tab Content
          </div>
          <div id="ir1g9">zcvzxcvcvsavasdInsert your text herev
          </div>
        </div>
        <div role="tabpanel" id="i9lx1" aria-labelledby="i33nr" hidden class="tab-content">
          <div>Tab Content
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>var props = {
      "islh":{
        "classactive":"tab-active","selectortab":"aria-controls"}
    };
    var ids = Object.keys(props).map(function(id) {
      return '#'+id }
                                    ).join(',');
    var els = document.querySelectorAll(ids);
    for (var i = 0, len = els.length; i < len; i++) {
      var el = els[i];
      (function(t){
        var e,n,r=this,o=t.classactive,a=t.selectortab,c=window,i=c.history,s=c._isEditor,b='[role=tab]',p=document,l=p.body,u=p.location,f=l.matchesSelector||l.webkitMatchesSelector||l.mozMatchesSelector||l.msMatchesSelector,y=function(t,e){
          for(var n=t||[],r=0;r<n.length;r++)e(n[r],r)}
        ,d=function(t){
          return t.getAttribute(a)}
        ,O=function(t,e){
          return t.querySelector(e)}
        ,g=function(){
          return r.querySelectorAll(b)}
        ,j=function(t,e){
          return!s&&(t.tabIndex=e)}
        ,h=function(t){
          y(g(),(function(t){
            t.className=t.className.replace(o,'').trim(),t.ariaSelected='false',j(t,'-1')}
                )),y(r.querySelectorAll("[role=tabpanel]"),(function(t){
            return t.hidden=!0}
                                                           )),t.className+=' '+o,t.ariaSelected='true',j(t,'0');
          var e=d(t),n=e&&O(r,"#".concat(e));
          n&&(n.hidden=!1)}
        ,v=O(r,".".concat(o).concat(b));
        (v=v||(n=(u.hash||'').replace('#',''))&&O(r,(e=a,"".concat(b,"[").concat(e,"=").concat(n,"]")))||O(r,b))&&h(v),r.addEventListener('click',(function(t){
          var e=t.target,n=f.call(e,b);
          if(n||(e=function(t){
            var e;
            return y(g(),(function(n){
              e||n.contains(t)&&(e=n)}
                         )),e}
                 (e))&&(n=1),n&&!t.__trg&&e.className.indexOf(o)<0){
            t.preventDefault(),t.__trg=1,h(e);
            var r=d(e);
            try{
              i&&i.pushState(null,null,"#".concat(r))}
            catch(t){
            }
          }
        }
        ))}
       .bind(el))(props[el.id]);
    }
  </script>